/* Reset css*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #252B42;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.button {
  display: inline-block;
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 220px;
  height: 48px;
  border-radius: 25px;
  transition: all 0.4s ease-out;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
}
.button--primary {
  background: #2091F9;
  color: white;
}
.button:hover {
  background: #157fe3;
  box-shadow: 10px 5px 5px rgb(239, 239, 239);
}
.button:disabled {
  cursor: not-allowed;
  background: #EDEDED;
  color: #B4B4B4;
}

.btn-sm {
  max-width: 145px;
}

.btn-ml {
  max-width: 170px;
  font-weight: 200;
  font-size: 16px;
}

.btn-l {
  width: 200px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 500;
  padding: 10px;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  height: 156px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__menu-item {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-weight: 200;
  padding: 10px;
}
.header__logo-container {
  flex: 1 1 0;
  margin: 0 25px;
}
.header__logo-image img {
  width: 186px;
  height: auto;
}

.social-icons__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.home {
  display: flex;
  align-items: center;
}
.home__background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  background: url(img/background.svg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home__content {
  max-width: 786px;
  height: calc(100vh - 156px);
  padding: 70px 0;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.home__text {
  padding: 20px;
}
.home__title {
  font-size: 65px;
  line-height: 80px;
  letter-spacing: 0.2px;
  font-weight: 700;
  padding: 10px;
}
.home__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-top: 7px;
}
.home__button {
  margin: 45px 20px;
}

.features {
  width: 100%;
}
.features__content {
  margin: 75px auto;
  text-align: center;
}
.features__header {
  max-width: 550px;
  padding: 20px;
  margin: 0 auto;
}
.features__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 500;
  padding: 10px;
}
.features__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-top: 7px;
}
.features__items-container {
  max-width: 870px;
  margin: 75px auto;
}
.features__item {
  width: 29%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.features__icon {
  max-width: 60px;
  height: auto;
  margin: 0 auto;
}
.features__item-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 600;
  padding: 10px;
}
.features__item-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 200;
  padding: 10px;
}
.features__video {
  padding: 50px 0;
  text-align: center;
}
.features__video-element {
  overflow: hidden;
  border-radius: 20px;
  isolation: isolate;
  max-width: 800px;
  width: 100%;
  height: auto;
  box-shadow: 7px 4px 37px 13px rgba(154, 147, 140, 0.5), 7px 4px 29px 6px rgb(233, 227, 227);
}

.organize {
  width: 100%;
  padding: 220px 0;
}
.organize__content {
  padding: 40px 0;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.organize__header {
  width: 43%;
}
.organize__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 10px;
  max-width: 330px;
}
.organize__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-top: 7px;
}
.organize__button {
  margin-top: 60px;
}
.organize__icon-container {
  width: 53%;
  padding: 10px 15px;
  text-align: center;
}
.organize__icon {
  max-width: 580px;
}

.subscribe {
  width: 100%;
  min-height: 720x;
  padding: 43px 0;
}
.subscribe__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe__icon-container {
  width: 53%;
  text-align: center;
}
.subscribe__icon {
  max-width: 670px;
}
.subscribe__header {
  width: 38%;
  padding-left: 10px;
}
.subscribe__text {
  margin: 15px 0;
}
.subscribe__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 10px 0;
  max-width: 330px;
}
.subscribe__subtitle {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.form-subscribe {
  padding: 10px 0 10px 10px;
}
.form-subscribe__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 700;
}
.form-subscribe__subtitle {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 100;
}
.form-subscribe__form {
  padding: 40px 0;
}
.form-subscribe__input {
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 270px;
  height: 48px;
  border-radius: 25px;
  border-color: #E8E8E8;
  font-weight: 300;
  font-size: 14px;
  line-height: 48px;
  background: #F4F4F4;
  color: #252B42;
  padding: 10px 10px 10px 30px;
  margin-right: 5px;
}

.partners {
  width: 100%;
  padding: 80px 0;
}/*# sourceMappingURL=styles.css.map */