/* Reset css*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #252B42;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  display: inline-block;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.button {
  display: inline-block;
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 220px;
  height: 48px;
  border-radius: 25px;
  transition: all 0.4s ease-out;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
}
.button--primary {
  background: #2091F9;
  color: white;
}
.button:hover {
  background: white;
  color: #2091F9;
  border: 1px solid #2091F9;
  box-shadow: 10px 5px 5px rgba(32, 144, 249, 0.4235294118);
}
.button:disabled {
  cursor: not-allowed;
  background: #EDEDED;
  color: #B4B4B4;
}

.btn-sm {
  max-width: 145px;
}

.btn-m {
  max-width: 170px;
  font-weight: 200;
  font-size: 16px;
}

.btn-ml {
  max-width: 255px;
}

.btn-l {
  max-width: 275px;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
}
@media (max-width: 845px) {
  .flex {
    justify-content: center;
  }
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  height: 156px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header__container {
    flex: none;
    height: 90px;
  }
}
.header__menu {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__burger-menu {
  display: none;
}
.header__menu-item {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
}
.header__menu-link:hover {
  color: #2091F9;
  text-shadow: rgba(32, 144, 249, 0.568627451) 2px 0 10px;
  text-decoration: underline;
}
.header__logo-container {
  flex: 1 1 0;
  margin: -10px 35px 0;
}
@media (max-width: 940px) {
  .header__logo-container {
    flex: none;
  }
}
@media (max-width: 767px) {
  .header__logo-container {
    margin: 0;
  }
}
.header__logo-image img {
  width: 186px;
  height: auto;
}
@media (max-width: 940px) {
  .header__social-icons {
    display: none;
  }
}

.social-icons__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 767px) {
  .header__burger-menu {
    z-index: 100;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 0 20px;
  }
  .header__burger-menu span, .header__burger-menu::before, .header__burger-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .header__burger-menu::before {
    top: 0px;
  }
  .header__burger-menu::after {
    bottom: 0px;
  }
  .header__burger-menu span {
    top: calc(50% - 1px);
  }
  .header__burger-menu.menu-open span {
    transform: scale(0);
  }
  .header__burger-menu.menu-open::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header__burger-menu.menu-open::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .header__menu {
    position: fixed;
    width: 75%;
    height: 100%;
    top: 0;
    left: -75%;
    overflow: auto;
    flex-direction: column;
    gap: 55px;
    background-color: #252B42;
    padding: 100px 15px 50px 15px;
    transition: left 0.3s ease 0s;
    z-index: 99;
  }
  .header__menu-item {
    color: white;
    font-size: 22px;
    font-weight: 500;
  }
  .header__menu.menu-open {
    left: 0;
  }
  .header__menu.menu-open::before {
    left: 0;
  }
  .scroll-lock {
    overflow: hidden;
  }
}
@media (max-width: 675px) {
  .header__menu {
    width: 100%;
    left: -100%;
  }
  .header__menu::before {
    width: 100%;
    left: -100%;
  }
}
.home {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.home__background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  background: url(img/background.svg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home__content {
  max-width: 786px;
  height: calc(100vh - 156px);
  padding: 70px 0;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.home__text {
  padding: 20px;
}
.home__title {
  font-size: 65px;
  line-height: 80px;
  letter-spacing: 0.2px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 890px) {
  .home__title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 550px) {
  .home__title {
    font-size: 35px;
    line-height: 60px;
  }
}
.home__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-top: 7px;
}
.home__button {
  margin: 45px 20px;
}

.features {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.features__content {
  margin: 75px auto 0;
  text-align: center;
}
.features__header {
  max-width: 550px;
  padding: 20px;
  margin: 0 auto;
}
.features__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 500;
  padding: 10px;
}
@media (max-width: 890px) {
  .features__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
  }
}
.features__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-top: 7px;
}
@media (max-width: 890px) {
  .features__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .features__body {
    display: flex;
    flex-direction: column-reverse;
  }
}
.features__items-container {
  max-width: 870px;
  margin: 75px auto;
}
@media (max-width: 767px) {
  .features__items-container {
    margin: 40px 0;
  }
}
.features__item {
  width: 29%;
  min-width: 252px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.features__icon {
  max-width: 60px;
  height: auto;
  margin: 0 auto;
}
.features__item-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 600;
  padding: 10px;
}
.features__item-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 200;
  padding: 10px;
}
.features__video {
  padding: 50px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .features__video {
    padding: 30px 0;
  }
}
.features__video-element {
  overflow: hidden;
  border-radius: 20px;
  isolation: isolate;
  max-width: 800px;
  width: 100%;
  height: auto;
  box-shadow: 7px 4px 37px 13px rgba(154, 147, 140, 0.5), 7px 4px 29px 6px rgb(233, 227, 227);
}

.organize {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 220px 15px;
}
@media (max-width: 890px) {
  .organize {
    padding: 120px 15px;
  }
}
@media (max-width: 767px) {
  .organize {
    padding: 40px 15px;
  }
}
.organize__content {
  padding: 40px 0;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .organize__content {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}
.organize__header {
  width: 43%;
}
@media (max-width: 767px) {
  .organize__header {
    width: 100%;
  }
}
.organize__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 10px;
  max-width: 330px;
}
@media (max-width: 890px) {
  .organize__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 100%;
  }
}
.organize__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-top: 7px;
}
@media (max-width: 890px) {
  .organize__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
.organize__button {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .organize__button {
    gap: 40px;
  }
}
.organize__icon-container {
  width: 53%;
  padding: 10px 0 10px 15px;
  text-align: center;
}
@media (max-width: 767px) {
  .organize__icon-container {
    width: 100%;
  }
}
.organize__icon {
  max-width: 580px;
  width: 100%;
  height: auto;
}

.subscribe {
  width: 100%;
  max-width: 1280px;
  padding: 43px 15px;
  margin: 0 auto;
  min-height: 720x;
}
.subscribe__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .subscribe__content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 10px;
  }
}
.subscribe__icon-container {
  width: 53%;
  text-align: center;
}
@media (max-width: 767px) {
  .subscribe__icon-container {
    width: 100%;
  }
}
.subscribe__icon {
  max-width: 670px;
  width: 100%;
  height: auto;
}
.subscribe__header {
  width: 38%;
  padding-left: 10px;
}
@media (max-width: 767px) {
  .subscribe__header {
    width: 100%;
    padding-left: 0;
  }
}
.subscribe__text {
  margin: 15px 0;
}
.subscribe__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 10px 0;
  max-width: 330px;
}
@media (max-width: 890px) {
  .subscribe__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .subscribe__title {
    max-width: 100%;
  }
}
.subscribe__subtitle {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.form-subscribe {
  padding: 10px 0 10px 10px;
}
.form-subscribe__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 700;
}
.form-subscribe__subtitle {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 100;
}
.form-subscribe__form {
  padding: 40px 0;
}
.form-subscribe__input {
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 270px;
  height: 48px;
  border-radius: 25px;
  border-color: #E8E8E8;
  font-weight: 300;
  font-size: 14px;
  line-height: 48px;
  background: #F4F4F4;
  color: #252B42;
  padding: 10px 10px 10px 30px;
  margin: 0 5px 15px 0;
}
@media (max-width: 490px) {
  .form-subscribe__input {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 490px) {
  .form-subscribe__button {
    width: 100%;
    max-width: 100%;
  }
}

.partners {
  width: 100%;
  max-width: 1280px;
  padding: 80px 15px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .partners {
    padding: 40px 15px;
  }
}
.partners__content {
  max-width: 1075px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
@media (max-width: 767px) {
  .partners__content {
    gap: 50px;
  }
}
.partners__header {
  max-width: 550px;
  padding-top: 30px;
}
.partners__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 10px;
}
@media (max-width: 890px) {
  .partners__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
  }
}
.partners__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
}
@media (max-width: 890px) {
  .partners__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 720px) {
  .companies-list {
    flex-direction: column;
    gap: 20px;
  }
}
.companies-list__company {
  padding: 30px 38px;
  border: 1px solid #E8E8E8;
}
.companies-list__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  margin-bottom: 15px;
}

.testimonials {
  width: 100%;
  max-width: 1280px;
  padding: 100px 15px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .testimonials {
    padding: 70px 15px;
  }
}
.testimonials__content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
@media (max-width: 767px) {
  .testimonials__content {
    gap: 50px;
  }
}
.testimonials__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 10px;
}
@media (max-width: 890px) {
  .testimonials__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
  }
}
.testimonials__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.testimonials__logo {
  max-width: 150px;
}
.testimonials__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
}
@media (max-width: 890px) {
  .testimonials__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
.testimonials__user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonials__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  text-align: left;
}

.pricing {
  width: 100%;
  background-color: #252B42;
  padding: 100px 15px;
}
@media (max-width: 767px) {
  .pricing {
    padding: 60px 15px 70px;
  }
}
.pricing__content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
@media (max-width: 767px) {
  .pricing__content {
    gap: 50px;
  }
}
.pricing__header {
  max-width: 500px;
  color: white;
}
.pricing__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 10px;
}
@media (max-width: 890px) {
  .pricing__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
  }
}
.pricing__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-top: 7px;
}
@media (max-width: 890px) {
  .pricing__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
.pricing__options {
  width: 100%;
  min-height: 635px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .pricing__options {
    justify-content: center;
  }
}

.payment-option__container {
  transition: all 0.4s ease-out;
  background: white;
  overflow: hidden;
  border-radius: 12px;
  padding: 40px;
  max-width: 335px;
  min-width: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.payment-option__container:hover {
  transition: all 0.4s ease-out;
  background: #2091F9;
  color: white;
  padding: 80px 0;
}
.payment-option__container:hover .button--primary {
  background: white;
  color: #2091F9;
  border: 1px solid #2091F9;
}
.payment-option__title {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 800;
}
.payment-option__subtitle {
  margin: 0 auto;
  max-width: 150px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 300;
}
.payment-option__price {
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.payment-option__amount {
  font-size: 77px;
  font-weight: 800;
}
.payment-option__description {
  font-weight: 300;
  font-size: 14px;
  text-align: left;
}
.payment-option__description span {
  line-height: 26px;
  font-weight: 600;
  font-size: 22px;
}

.payment-option__list {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contact {
  width: 100%;
  max-width: 1280px;
  padding: 140px 15px 55px;
  margin: 0 auto;
}
@media (max-width: 890px) {
  .contact {
    padding: 80px 15px 45px;
  }
}
@media (max-width: 767px) {
  .contact {
    padding: 15px 15px 40px;
  }
}
.contact__content {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.contact__header {
  max-width: 500px;
}
.contact__title {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 10px;
}
@media (max-width: 890px) {
  .contact__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
  }
}
.contact__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-top: 7px;
}
@media (max-width: 890px) {
  .contact__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
.contact__body {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1150px) {
  .contact__body {
    flex-direction: column-reverse;
  }
}

.contact-form {
  max-width: 453px;
  padding: 52px 50px;
  width: 100%;
  border: 1px solid #DDDDDD;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 5px 4px 17px 8px rgba(221, 217, 213, 0.3), 5px 4px 17px 5px rgb(246, 246, 246);
}
@media (max-width: 485px) {
  .contact-form {
    padding: 32px 30px;
  }
}
@media (max-width: 380px) {
  .contact-form {
    padding: 22px 20px;
  }
}
.contact-form__title {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 800;
  margin-bottom: 45px;
}
.contact-form__form {
  max-width: 353px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: flex-start;
}
.contact-form__input {
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 353px;
  height: 52px;
  border-radius: 25px;
  border-color: #E8E8E8;
  font-weight: 300;
  font-size: 14px;
  line-height: 52px;
  background: #F4F4F4;
  color: #252B42;
  padding: 10px 10px 10px 30px;
  margin-right: 5px;
}
.contact-form__textarea {
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 353px;
  border-color: #E8E8E8;
  font-weight: 300;
  font-size: 14px;
  background: #F4F4F4;
  color: #252B42;
  padding: 10px 10px 10px 30px;
  margin-right: 5px;
}

.contact-info {
  max-width: 725px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
@media (max-width: 640px) {
  .contact-info {
    max-width: 100%;
    width: 100%;
  }
}
.contact-info__data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}
@media (max-width: 640px) {
  .contact-info__data {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .contact-info__data {
    align-items: flex-start;
  }
}
.contact-info__text {
  padding: 10px;
  margin-top: 10px;
  line-height: 20px;
}
@media (max-width: 640px) {
  .contact-info__map {
    width: 450px;
  }
}
@media (max-width: 485px) {
  .contact-info__map {
    width: 380px;
    height: 300px;
  }
}
@media (max-width: 420px) {
  .contact-info__map {
    width: 350px;
  }
}
@media (max-width: 385px) {
  .contact-info__map {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 335px) {
  .contact-info__map {
    width: 290px;
  }
}
@media (max-width: 640px) {
  .contact-info__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.contact-info .maxwidth {
  max-width: 43%;
}
@media (max-width: 640px) {
  .contact-info .maxwidth {
    max-width: 100%;
  }
}

.footer {
  width: 100%;
  background-color: #252B42;
  color: white;
  padding: 150px 15px;
}
@media (max-width: 890px) {
  .footer {
    padding: 100px 15px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 80px 15px;
  }
}
.footer__container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 720px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
}
.footer__column-title {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 800;
  padding: 10px;
  margin-bottom: 15px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-weight: 300;
}
.footer__contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.footer__adress-icon {
  margin-left: -7px;
}
.footer__adress-icon img {
  max-width: 40px;
  height: auto;
}
.footer__tel-icon {
  margin-right: 10px;
}
.footer .social-icons {
  padding: 15px 0;
}/*# sourceMappingURL=styles.css.map */