$fontFamily: 'Poppins', sans-serif;
$fontSize: 16px;

$mainColor: #252B42;
$darkBlueColor: #252B42;
$primary: #2091F9;
$primaryHover: #157fe3;
$btnDisabledColor: #B4B4B4;
$btnDisabledGray: #EDEDED;
$inputBackground: #F4F4F4;
$borderColor: #E8E8E8;

$minWidth: 320px;
$maxWidth: 1640px;
$maxWidthContainer: 1280px;
$heightHeader: 156px;
$heightFooter: 567px;

/* Reset css*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
html,
body {
	height: 100%;
	min-width: $minWidth;
}
body {
	color: $mainColor;
	line-height: 1;
	font-family: $fontFamily;
	font-size: $fontSize;
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
  
html {
	font-size: $fontSize;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}
.button {
	display: inline-block;
	width: 100%;
	min-width: max-content;
	max-width: 220px;
	height: 48px;
	border-radius: 25px;
	transition: all 0.4s ease-out;
	font-weight: 400;
	font-size: 18px;
	line-height: 48px;
	text-align: center;
	&--primary {
		background: $primary;
		color: white;
	}
	&:hover {
		background: white;
		color: $primary;
		border: 1px solid $primary;
	  	box-shadow: 10px 5px 5px #2090f96c;
	}
	&:disabled {
	  cursor: not-allowed;
	  background: $btnDisabledGray;
	  color: $btnDisabledColor;
	}
}
.btn-sm {
	max-width: 145px;
}
.btn-m {
	max-width: 170px;
	font-weight: 200;
	font-size: 16px;
}
.btn-ml {
	max-width: 255px;
}
.btn-l {
	max-width: 275px;
}
.flex {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.container {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
}
.header {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
	&__container {
		max-width: 1120px;
		width: 100%;
		margin: 0 auto;
		height: $heightHeader;
		color: white;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__menu {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__menu-item {
		font-size: 15px;
		line-height: 28px;
		letter-spacing: .2px;
		font-weight: 200;
		padding: 10px;
	}
	&__menu-link:hover {
		color: $primary;
		text-shadow: #2090f991 2px 0 10px;
		text-decoration: underline;
	}
	&__logo-container {
		flex: 1 1 0;
		margin: 0 25px;
	}
	&__logo-image img {
		width: 186px;
		height: auto;
	}
}
.social-icons__list {
	display: flex;
	align-items: center;
	gap: 24px;
}
.home {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
    align-items: center;
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100vw;
		min-height: 100vh;
		z-index: -1;
		background: url(img/background.svg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	&__content {
		max-width: 786px;
		height: calc(100vh - $heightHeader);
		padding: 70px 0;
		margin: 0 auto;
		color: white;
		text-align: center;
	}
	&__text {
		padding: 20px;
	}
	&__title {
		font-size: 65px;
		line-height: 80px;
		letter-spacing: .2px;
		font-weight: 700;
		padding: 10px;
	}
	&__subtitle {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 300;
		padding: 10px;
		margin-top: 7px;
	}
	&__button {
		margin: 45px 20px;
	}
}
.features {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	&__content {
		margin: 75px auto;
		text-align: center;
	}
	&__header {
		max-width: 550px;
		padding: 20px;
		margin: 0 auto;
	}
	&__title {
		font-size: 45px;
		line-height: 50px;
		letter-spacing: .2px;
		font-weight: 500;
		padding: 10px;
	}
	&__subtitle {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 300;
		padding: 10px;
		margin-top: 7px;
	}
	&__items-container {
		max-width: 870px;
		margin: 75px auto;
	}
	&__item {
		width: 29%;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__icon {
		max-width: 60px;
		height: auto;
		margin: 0 auto;;
	}
	&__item-title {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: .2px;
		font-weight: 600;
		padding: 10px;
	}
	&__item-description {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: .2px;
		font-weight: 200;
		padding: 10px;
	}
	&__video {
		padding: 50px 0;
		text-align: center;
	}
	&__video-element {
		overflow: hidden;
    	border-radius: 20px;
    	isolation: isolate;
		max-width: 800px;
		width: 100%;
		height: auto;
		box-shadow: 7px 4px 37px 13px rgba(154, 147, 140, 0.5), 7px 4px 29px 6px rgb(233, 227, 227);
	}
}
.organize {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	width: 100%;
	padding: 220px 15px;
	&__content {
		padding: 40px 0;
		max-width: 1240px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__header {
		width: 43%;
	}
	&__title {
		font-size: 45px;
		line-height: 50px;
		letter-spacing: .2px;
		font-weight: 400;
		padding: 10px;
		max-width: 330px;
	}
	&__subtitle {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 300;
		padding: 10px;
		margin-top: 7px;
	}
	&__button {
		margin-top: 60px;
	}
	&__icon-container {
		width: 53%;
		padding: 10px 15px;
		text-align: center;
	}
	&__icon {
		max-width: 580px;
	}
}
.subscribe {
	width: 100%;
	max-width: $maxWidthContainer;
	padding: 43px 15px;
	margin: 0 auto;
	min-height: 720x;
	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__icon-container {
		width: 53%;
		text-align: center;
	}
	&__icon {
		max-width: 670px;
	}
	&__header {
		width: 38%;
		padding-left: 10px;
	}
	&__text {
		margin: 15px 0;
	}
	&__title {
		font-size: 45px;
		line-height: 50px;
		letter-spacing: .2px;
		font-weight: 400;
		padding: 10px 0;
		max-width: 330px;
	}
	&__subtitle {
		font-size: 16px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 700;
	}
}
.form-subscribe {
	padding: 10px 0 10px 10px;
	&__title {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: .2px;
		font-weight: 700;
	}
	&__subtitle {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: .2px;
		font-weight: 100;
	}
	&__form {
		padding: 40px 0;
	}
	&__input {
		width: 100%;
		min-width: max-content;
		max-width: 270px;
		height: 48px;
		border-radius: 25px;
		border-color: $borderColor;
		font-weight: 300;
		font-size: 14px;
		line-height: 48px;
		background: $inputBackground;
		color: $mainColor;
		padding: 10px 10px 10px 30px;
		margin-right: 5px;
	}
}
.partners {
	width: 100%;
	max-width: $maxWidthContainer;
	padding: 80px 15px;
	margin: 0 auto;
	&__content {
		max-width: 1075px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 80px;
	}
	&__header {
		max-width: 550px;
		padding-top: 30px;
	}
	&__title {
		font-size: 45px;
		line-height: 50px;
		letter-spacing: .2px;
		font-weight: 400;
		padding: 10px;
	}
	&__subtitle {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 300;
		padding: 10px;
	}
}
.companies-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__company {
		padding: 30px 38px;
		border: 1px solid $borderColor;
	}
	&__title {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: .2px;
		font-weight: 300;
		margin-bottom: 15px;
	}
}
.testimonials {
	width: 100%;
	max-width: $maxWidthContainer;
	padding: 100px 15px;
	margin: 0 auto;
	&__content {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 80px;
	}
	&__title {
		font-size: 45px;
		line-height: 50px;
		letter-spacing: .2px;
		font-weight: 400;
		padding: 10px;
	}
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
	&__logo {
		max-width: 150px;
	}
	&__subtitle {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 300;
		padding: 10px;
	}
	&__user-container {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	&__text {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: .2px;
		font-weight: 300;
		text-align: left;
	}
}
.pricing {
	width: 100%;
	background-color: $darkBlueColor;
	padding: 100px 15px;
	&__content {
		max-width: 1100px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 80px;
	}
	&__header {
		max-width: 500px;
		color: white;
	}
	&__title {
		font-size: 45px;
		line-height: 50px;
		letter-spacing: .2px;
		font-weight: 400;
		padding: 10px;
	}
	&__subtitle {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 300;
		padding: 10px;
		margin-top: 7px;
	}
	&__options {
		width: 100%;
		min-height: 635px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.payment-option {
	&__container {
		transition: all 0.4s ease-out;
		background: white;
		overflow: hidden;
    	border-radius: 12px;
		padding: 40px;
		max-width: 335px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
	&__container:hover {
		transition: all 0.4s ease-out;
		background: $primary;
		color: white;
		padding: 80px 0;
		.button {
			&--primary {
				background: white;
				color: $primary;
				border: 1px solid $primary
			}
		}
	}
	&__title {
		font-size: 18px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 800;
	}
	&__subtitle {
		margin: 0 auto;
		max-width: 150px;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: .2px;
		font-weight: 300;
	}
	&__price {
		max-width: 200px;
		display: flex;
		align-items: center;
		gap: 10px;
	}
	&__amount {
		font-size: 77px;
		font-weight: 800;
	}
	&__description {
		font-weight: 300;
		font-size: 14px;
		text-align: left;
		span {
			line-height: 26px;
			font-weight: 600;
			font-size: 22px;
		}
	}
}
.payment-option__list {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .2px;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	gap: 22px;
}
.contact {
	width: 100%;
	max-width: $maxWidthContainer;
	padding: 140px 15px 55px;
	margin: 0 auto;
	&__content {
		max-width: 1230px;
		width: 100%;
		margin: 0 auto;
		padding: 50px 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
	&__header {
		max-width: 500px;
	}
	&__title {
		font-size: 45px;
		line-height: 50px;
		letter-spacing: .2px;
		font-weight: 400;
		padding: 10px;
	}
	&__subtitle {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 300;
		padding: 10px;
		margin-top: 7px;
	}
	&__body {
		width: 100%;
		display: flex;
		gap: 50px;
		justify-content: center;
		align-items: center;
	}
}
.contact-form {
	max-width: 453px;
	padding: 52px 50px;
	width: 100%;
	border: 1px solid #DDDDDD;
	overflow: hidden;
	border-radius: 12px;
	box-shadow:  5px 4px 17px 8px rgb(221 217 213 / 30%), 5px 4px 17px 5px rgb(246 246 246);
	&__title {
		font-size: 18px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 800;
		margin-bottom: 45px;
	}
	&__form {
		max-width: 353px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 45px;
		justify-content: flex-start;
	}
	&__input {
		width: 100%;
		min-width: max-content;
		max-width: 353px;
		height: 52px;
		border-radius: 25px;
		border-color: $borderColor;
		font-weight: 300;
		font-size: 14px;
		line-height: 52px;
		background: $inputBackground;
		color: $mainColor;
		padding: 10px 10px 10px 30px;
		margin-right: 5px;
	}
	&__textarea {
		width: 100%;
		min-width: max-content;
		max-width: 353px;
		border-color: $borderColor;
		font-weight: 300;
		font-size: 14px;
		background: $inputBackground;
		color: $mainColor;
		padding: 10px 10px 10px 30px;
		margin-right: 5px;
	}
}
.contact-info {
	max-width: 725px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	&__data {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		text-align: center;
		font-size: 14px;
		font-weight: 200;
	}
	&__text {
		padding: 10px;
		margin-top: 10px;
		line-height: 20px;
	}
	.maxwidth {
		max-width: 43%;
	}
}
.footer {
	width: 100%;
	background-color: $darkBlueColor;
	color: white;
	padding: 150px 15px;
	&__container {
		max-width: 990px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 20px;
	}
	&__column-title {
		font-size: 18px;
		line-height: 30px;
		letter-spacing: .2px;
		font-weight: 800;
		padding: 10px;
		margin-bottom: 15px;
	}
	&__links {
		display: flex;
		flex-direction: column;
		gap: 16px;
		font-size: 16px;
		line-height: 28px;
		letter-spacing: .2px;
		font-weight: 300;
	}
	&__contacts {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 16px;
	}
	&__adress-icon {
		margin-left: -7px;
		img {
			max-width: 40px;
			height: auto;
		}
	}
	&__tel-icon {
		margin-right: 10px;
	}
	.social-icons {
		padding: 15px 0;
	}
}